@model List<WebBlog.Models.Domain.Tag>

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Tag - Admin functions</h1>
    </div>
</div>

<div class="conatiner py-5">
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Display Name</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.DisplayName</td>
                        <td><a asp-area="" asp-controller="AdminTags" asp-action="Edit" asp-route-id="@item.Id">Edit</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No tags found</p>
    }
</div>